@charset "utf-8";

html, body,
h1, h2, h3, h4, h5, h6,
p, blockquote, address, pre, div, form, hr,
ul, ol, li, dl, dt, dd,
table, caption, tr, td, th,
ins, del,
a, sup, sub,
em, strong, dfn, code, samp, kbd, var, cite, abbr, acronym {
	margin: 0;
	padding: 0;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
}

html {
	background-color: #99caff;
	padding-bottom: 1.5em;
	text-align: center;
}

body {
	text-align: left;
	max-width: 950px;
	margin: 0 auto;
	padding-top: 2em;
	padding-bottom: 0.5em;
	line-height: 1.5;
	color: #000;
	background-color: #e9f3f7;
	font-size: 100%;
	position: relative;
}

p, ul, ol, dl, pre, form, address {
	margin: 1em 30px;
	letter-spacing: 0.1em;
}

p {
}

h1, h2, h3, h4, h5, h6 {
	margin: 0.5em 0; 
}

h1 {
	margin-left: -50px;
	border-left: 50px solid #492a5c;
	margin-right: -50px;
	border-right: 50px solid #492a5c;
	text-indent: -50px;
	margin-top: 0;
	background-color: #65437a;
	color: #fff;
	font-size: 300%;
	text-align: center;
}

h2 {
	margin-left: -25px;
	border-left: 25px solid #3d5e9c;
	margin-right: -25px;
	border-right: 25px solid #3d5e9c;
	text-indent: -25px;
	padding: 0 10px;
	background-color: #5574ad;
	color: #fff;
	font-size: 200%;
}

h3 {
	margin-left: -20px;
	border-left: 20px solid #369ccb;
	margin-right: -20px;
	border-right: 20px solid #369ccb;
	text-indent: -20px;
	padding: 0 10px;
	background-color: #51acd6;
	color: #fff;
	font-size: 150%;
}

h4 {
	padding: 0 5px;
	border-bottom: 2px dotted #CA2F61;
	font-size: 125%;
}

h5 {
	margin-left: 10px;
	font-size: 100%;
}

h6 {
	margin-left: 20px;
	font-size: 100%;
}

pre {
	padding: 0.5em 10px;
	border: 3px double #FF73B9;
	white-space: pre;
}

address {
	text-align: right;
}

blockquote {
	margin: 1.5em 30px;
	background-color: #fde2d5;
	border: 1px solid #f8bda2;
}

li {
	margin: 0.1em 10px;
}

li li, li p, li pre, li dt, li dd,
dd li, dd p, dd pre, dd dt, dd dd {
	font-size: 100%;
}

li ul, li ol, li dl, li p,
dd ul, dd ol, dd dl, dd p {
	margin: 0.1em 10px;
}

dt {
	margin: 0.5em 10px 0.3em 10px;
	padding-left: 5px;
	background-color: #FFC1E0;
	border: solid #FFA4D1;
	border-width: 0 1px 1px 0;
}

dd {
	margin: 0.3em 10px 0.5em 30px;
}

table {
	margin: 0 30px 0.5em 30px;
	border: solid #780729;
	border-width: 2px 0;
	border-collapse: collapse;
}

caption {
	text-align: center;
}

th, td {
	padding: 0.1em 5px;
	border: 1px solid #780729;
	background-color: #FFDDEE;
}

th {
	background-color: #FD9DC6;
}

a:link, a:visited, a:active, a:hover, a:focus {
	border-bottom: 1px solid;
}

a:link {
	border-bottom-color: #2525cc;
	color: #2525cc;
}

a:visited {
	border-bottom-color: #800080;
	color: #800080;
}

a:active, a:hover {
	border-bottom-color: #f00;
	color: #f00;
}

em, strong {
	color: #d30e0e;
}

strong {
	font-weight: bold;
}

dfn {
	font-weight: bold;
}

kbd {
	padding: 0 0.3em; 
	border: 1px solid #999;
	background-color: #ddd;
}

q {
	quotes: "「" "」" "『" "』";
	background-color: #fde2d5;
}

del, del * {
	color: #666;
	text-decoration: line-through;
}

ins {
	border-bottom: 1px solid #666;
/*	background-color: #e8c9f2;*/
}

.framed {
  border: 1px solid #666666;
  padding: 20px;
  margin: 20px 0;
  margin: 1em 30px;
  letter-spacing: 0.01em;
  border-radius: 5px;
}
footer {
	text-align: right;
}

hr {
	margin: 20px 0;
}